@model IEnumerable<Messenger.Models.Message>

@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}

<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">
        <i class="fab fa-facebook-messenger"></i>&nbsp;Messenger
    </h2>
    <div data-username="@userName" id="current-user-username" hidden></div>
    <div class="row">
        <div class="row" id="chat">
            @if (Model != null)
            {
                @foreach (var message in Model.OrderBy(m => m.TimeSent))
                {
                    string containterClass, timePosition, textAlign, contcolor, offset = "";
                    if (userName == message.Username)
                    {
                        containterClass = "container darker";
                        timePosition = "time-right text-light";
                        textAlign = "text-right text-white";
                        contcolor = "bg-primary";
                        offset = "col-md-6 offset-md-6 row";
                    }
                    else
                    {
                        containterClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        contcolor = "bg-light";
                        offset = "";
                    }

                    <div class="row pt-1">
                        <div class="@offset">
                            <div class="@containterClass @contcolor">
                                <p class="sender @textAlign">@message.Username</p>
                                <p class="@textAlign">@message.Text</p>
                                <span class="@timePosition">@message.TimeSent.ToString("M/dd/yyyy hh:MM tt")</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row pt-4 pb-4">
            <div class="col-9">
                <div class="form-group">
                    <input name="Text" class="form-control" id="messageText" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <input value="Send" id="submitButton" class="btn text-white btn-outline-primary btn-block btn-dark" />
                </div>
            </div>
            <input type="hidden" value="@userName" name="username" id="username" />
        </div>
    </div>
    <ul id="messagesList">
    </ul>
</div>
@if (User.Identity.IsAuthenticated)
{

    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}

@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
