@using HandBook.Models;
@model Notification

@{
    string link = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/profile-image-for-{ViewBag.CurrentUserUsername}?timestamp={DateTime.Now}";
    string alternativeLink = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1700160046/azgysbpf8xpcxpfclb9i.jpg";
    string GetTimeDisplay(DateTime postDate)
    {
        TimeSpan timeDifference = DateTime.Now - postDate;

        double seconds = Math.Floor(timeDifference.TotalSeconds);
        double minutes = Math.Floor(timeDifference.TotalMinutes);
        double hours = Math.Floor(timeDifference.TotalHours);
        double days = Math.Floor(timeDifference.TotalDays);

        string displayString = "";

        if (days > 365 || (days > 7 && postDate.Year != DateTime.Now.Year))
        {
            displayString = postDate.ToString("yyyy-MM-dd HH:mm:ss");
        }
        else if (days > 7)
        {
            displayString = postDate.ToString("MMMM d");
        }
        else if (days >= 1)
        {
            displayString = days == 1 ? "1 day ago" : $"{(int)days} days ago";
        }
        else if (hours >= 1)
        {
            displayString = hours == 1 ? "1 hour ago" : $"{(int)hours} hours ago";
        }
        else if (minutes >= 1)
        {
            displayString = minutes == 1 ? "1 minute ago" : $"{(int)minutes} minutes ago";
        }
        else
        {
            displayString = seconds == 1 ? "1 second ago" : $"{(int)seconds} seconds ago";
        }

        return displayString;
    }
}
<style>
    .link-to-post, .link-to-post:hover, .link.link-to-post:active {
        text-decoration: none;
        color: black;
    }
</style>
<div class="row justify-content-center pt-4">
    <div class="card col-6 m-0 p-0">
        @if (Model.Post!=null)
        {
            <a class="link-to-post" asp-controller="Home" asp-action="DesiredPost" asp-route-modelData="@Model.PostId">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <div class="col-2">
                            <img src="@link" alt="Image not found"  style="border-radius:30px; width:50px; margin-right: 10px;" />
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-auto font-weight-bold h5 m-0 p-0">@Model.CreatorUserName @Model.MainText</div>
                            <div class="col-3">
                                <img src="@Model.Post.ImageLink" alt="Image not found" style="border-radius:30px; width:50px; margin-right: 10px;" />
                            </div>
                        </div>
                    </div>
                    <p class="card-text text-left">  @GetTimeDisplay(Model.Time)</p>
                </div>
            </a>
        }
        else
        {
            <a class="link-to-post" asp-controller="Home" asp-action="Account" asp-route-username="@Model.CreatorUserName">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center">
                        <div class="col-2">
                            <img src="@link" alt="Image not found" onerror="this.onerror=null;this.src='@alternativeLink';" style="border-radius:30px; width:50px; margin-right: 10px;" />
                        </div>
                        <div class="row">
                            <div class="col-auto font-weight-bold h5 m-0 p-0">@Model.CreatorUserName @Model.MainText</div>
                        </div>
                    </div>
                    <p class="card-text text-left">  @GetTimeDisplay(Model.Time)</p>
                </div>
            </a>
        }
      
    </div>
</div>